In [1]:
import pandas as pd
compas_data = pd.read_csv('/Users/eesaack/Downloads/compas-scores-two-years.csv')

<h1>Preprocess the Data</h1>
<h5>Handle any missing data.</h5>
<h5>Convert categorical variables to a format suitable for machine learning algorithms.</h5>
<h5>Keep relevant features for your analysis.</h5>

In [2]:
compas_data.head(5)

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0

In [3]:
compas_data.shape

(7214, 53)

In [4]:
duplicates = compas_data.duplicated()
print(duplicates.sum())

0

<h1>Handle Missing Values</h1>

In [5]:
# Check for missing values
compas_data.isnull().sum()

# Fill missing values, for example:
# df.fillna(method='ffill', inplace=True)  # Forward fill
# df.dropna(inplace=True)  # Drop rows with missing values

id                            0
name                          0
first                         0
last                          0
compas_screening_date         0
sex                           0
dob                           0
age                           0
age_cat                       0
race                          0
juv_fel_count                 0
decile_score                  0
juv_misd_count                0
juv_other_count               0
priors_count                  0
days_b_screening_arrest     307
c_jail_in                   307
c_jail_out                  307
c_case_number                22
c_offense_date             1159
c_arrest_date              6077
c_days_from_compas           22
c_charge_degree               0
c_charge_desc                29
is_recid                      0
r_case_number              3743
r_charge_degree            3743
r_days_from_arrest         4898
r_offense_date             3743
r_charge_desc              3801
r_jail_in                  4898
r_jail_out                 4898
violent_recid              7214
is_violent_recid              0
vr_case_number             6395
vr_charge_degree           6395
vr_offense_date            6395
vr_charge_desc             6395
type_of_assessment            0
decile_score.1                0
score_text                    0
screening_date                0
v_type_of_assessment          0
v_decile_score                0
v_score_text                  0
v_screening_date              0
in_custody                  236
out_custody                 236
priors_count.1                0
start                         0
end                           0
event                         0
two_year_recid                0
dtype: int64

In [ ]:
# Preprocessing (this is an example; adjust based on your dataset)
# Handle missing values, encode categorical variables, etc.
# compas_data = compas_data.dropna()  # Example: Dropping missing values
# compas_data['some_categorical_feature'] = pd.get_dummies(compas_data['some_categorical_feature'])

<h3>These columns have a substantial amount of missing data.</h3>
<h3>They can be dropped since they are not important for further analysis:</h3>

<h5>c_offense_date, c_arrest_date, r_case_number,</h5>
<h5>r_charge_degree, r_days_from_arrest,</h5>
<h5>r_offense_date, r_charge_desc, r_jail_in,</h5> 
<h5>r_jail_out, violent_recid, vr_case_number,</h5>
<h5>vr_charge_degree</h5>

In [6]:
compas_data.drop(['c_offense_date','c_arrest_date', 'r_case_number', 
                 'r_charge_degree','r_days_from_arrest', 'r_offense_date', 
                 'r_charge_desc', 'r_jail_in', 'r_jail_out', 'violent_recid', 
                 'vr_case_number','vr_charge_degree', 'c_jail_in', 'c_jail_out', 
                 'days_b_screening_arrest', 'in_custody', 'out_custody', 
                 'c_case_number','c_days_from_compas', 'c_charge_desc','vr_offense_date', 
                 'vr_charge_desc'], axis=1, inplace=True)
compas_data.head(5)

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,screening_date,v_type_of_assessment,v_decile_score,v_score_text,v_screening_date,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,2013-08-14,Risk of Violence,1,Low,2013-08-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,2013-01-27,Risk of Violence,1,Low,2013-01-27,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,2013-04-14,Risk of Violence,3,Low,2013-04-14,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,2013-01-13,Risk of Violence,6,Medium,2013-01-13,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,...,2013-03-26,Risk of Violence,1,Low,2013-03-26,2,0,1102,0,0

In [7]:
compas_data.isnull().sum()

id                       0
name                     0
first                    0
last                     0
compas_screening_date    0
sex                      0
dob                      0
age                      0
age_cat                  0
race                     0
juv_fel_count            0
decile_score             0
juv_misd_count           0
juv_other_count          0
priors_count             0
c_charge_degree          0
is_recid                 0
is_violent_recid         0
type_of_assessment       0
decile_score.1           0
score_text               0
screening_date           0
v_type_of_assessment     0
v_decile_score           0
v_score_text             0
v_screening_date         0
priors_count.1           0
start                    0
end                      0
event                    0
two_year_recid           0
dtype: int64

<h3>In the COMPAS dataset we have categorical variables like race, sex etc. So, they don't have an ordinal relationship. 
That is why we use One-Hot Encoding.</h3>

In [8]:
# One-Hot Encoding
categorical_columns = ['race', 'sex', 'age_cat', 'is_recid', 'two_year_recid']
compas_data = pd.get_dummies(compas_data, columns=categorical_columns)

In [9]:
compas_data.head(5)

,id,name,first,last,compas_screening_date,dob,age,juv_fel_count,decile_score,juv_misd_count,...,race_Other,sex_Female,sex_Male,age_cat_25 - 45,age_cat_Greater than 45,age_cat_Less than 25,is_recid_0,is_recid_1,two_year_recid_0,two_year_recid_1
0,1,miguel hernandez,miguel,hernandez,2013-08-14,1947-04-18,69,0,1,0,...,1,0,1,0,1,0,1,0,1,0
1,3,kevon dixon,kevon,dixon,2013-01-27,1982-01-22,34,0,3,0,...,0,0,1,1,0,0,0,1,0,1
2,4,ed philo,ed,philo,2013-04-14,1991-05-14,24,0,4,0,...,0,0,1,0,0,1,0,1,0,1
3,5,marcu brown,marcu,brown,2013-01-13,1993-01-21,23,0,8,1,...,0,0,1,0,0,1,1,0,1,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,1973-01-22,43,0,1,0,...,1,0,1,1,0,0,1,0,1,0

<h1>Reweighing for Bias Mitigation</h1>

In [ ]:
from aif360.algorithms.preprocessing import Reweighing
from aif360.datasets import StandardDataset

In [ ]:
# Assuming compas_data is your pandas DataFrame after preprocessing

# Convert your DataFrame to AIF360's StandardDataset format
# Note: Replace 'label_column', 'race', 'sex', and 'age_less_25' with the actual column names
compas_aif360_dataset = StandardDataset(compas_data, 
                                        label_name='label_column', 
                                        favorable_classes=[1], 
                                        protected_attribute_names=['race', 'sex', 'age_less_25'], 
                                        privileged_classes=[[1], [1], [1]])  # Adjust based on your data

# Applying reweighing for the 'race' attribute
rw = Reweighing(unprivileged_groups=[{'race': 0}], privileged_groups=[{'race': 1}])
compas_reweighed = rw.fit_transform(compas_aif360_dataset)

# You would repeat similar steps for 'sex' and 'age_less_25'

In [1]:
!pip show aif360

Name: aif360
Version: 0.5.0
Summary: IBM AI Fairness 360
Home-page: https://github.com/Trusted-AI/AIF360
Author: aif360 developers
Author-email: aif360@us.ibm.com
License: Apache License 2.0
Location: /opt/anaconda3/lib/python3.8/site-packages
Requires: scikit-learn, scipy, matplotlib, numpy, pandas
Required-by:

In [2]:
!which python

/opt/anaconda3/bin/python